.color-primary-0 { color: #1F6539 }	/* Main Primary color */
.color-primary-1 { color: #6EA783 }
.color-primary-2 { color: #3B8055 }
.color-primary-3 { color: #09431F }
.color-primary-4 { color: #00220D }

.color-secondary-1-0 { color: #1D4757 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #618491 }
.color-secondary-1-2 { color: #355F6F }
.color-secondary-1-3 { color: #0A2D3A }
.color-secondary-1-4 { color: #01161D }

.color-secondary-2-0 { color: #597F27 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #B3D38A }
.color-secondary-2-2 { color: #7BA24A }
.color-secondary-2-3 { color: #35550B }
.color-secondary-2-4 { color: #182B00 }

:root{
    --green-color-h: 143;
    --green-color-s: 76%;
    --green-color-l: 15%;

    --blue-color-h: 146;
    --blue-color-s: 71%;
    --blue-color-l: 13%;

    --light-green-color-h: 86;
    --light-green-color-s: 77%;
    --light-green-color-l: 19%;    

    --green-color: hsl(var(--green-color-h), var(--green-color-s), var(--green-color-l));
    --green-color-10: hsl(var(--green-color-h), var(--green-color-s), calc(var(--green-color-l) + 5%));
    --green-color-20: hsl(var(--green-color-h), var(--green-color-s), calc(var(--green-color-l) + 10%));
    --green-color-30: hsl(var(--green-color-h), var(--green-color-s), calc(var(--green-color-l) + 15%));
    --green-color-40: hsl(var(--green-color-h), var(--green-color-s), calc(var(--green-color-l) + 20%));
     --green-color-50: hsl(var(--green-color-h), var(--green-color-s), calc(var(--green-color-l) + 25%));
     --green-color-60: hsl(var(--green-color-h), var(--green-color-s), calc(var(--green-color-l) + 30%));
     --green-color-70: hsl(var(--green-color-h), var(--green-color-s), calc(var(--green-color-l) + 35%));
     --green-color-80: hsl(var(--green-color-h), var(--green-color-s), calc(var(--green-color-l) + 40%));
    
     --blue-color: hsl(var(--blue-color-h), var(--blue-color-s), var(--blue-color-l));
     --blue-color-10: hsl(var(--blue-color-h), var(--blue-color-s), calc(var(--blue-color-l) + 5%));
     --blue-color-20: hsl(var(--blue-color-h), var(--blue-color-s), calc(var(--blue-color-l) + 10%));
     --blue-color-30: hsl(var(--blue-color-h), var(--blue-color-s), calc(var(--blue-color-l) + 15%));
     --blue-color-40: hsl(var(--blue-color-h), var(--blue-color-s), calc(var(--blue-color-l) + 20%));
     --blue-color-50: hsl(var(--blue-color-h), var(--blue-color-s), calc(var(--blue-color-l) + 25%));
     --blue-color-60: hsl(var(--blue-color-h), var(--blue-color-s), calc(var(--blue-color-l) + 30%));
     --blue-color-70: hsl(var(--blue-color-h), var(--blue-color-s), calc(var(--blue-color-l) + 35%));
     --blue-color-80: hsl(var(--blue-color-h), var(--blue-color-s), calc(var(--blue-color-l) + 40%));
   
     --light-green-color: hsl(var(--light-green-color-h), var(--light-green-color-s), var(--light-green-color-l));
     --light-green-color-10: hsl(var(--light-green-color-h), var(--light-green-color-s), calc(var(--light-green-color-l) + 5%));
     --light-green-color-20: hsl(var(--light-green-color-h), var(--light-green-color-s), calc(var(--light-green-color-l) + 10%));
     --light-green-color-30: hsl(var(--light-green-color-h), var(--light-green-color-s), calc(var(--light-green-color-l) + 15%));
     --light-green-color-40: hsl(var(--light-green-color-h), var(--light-green-color-s), calc(var(--light-green-color-l) + 20%));
     --light-green-color-50: hsl(var(--light-green-color-h), var(--light-green-color-s), calc(var(--light-green-color-l) + 25%));
     --light-green-color-60: hsl(var(--light-green-color-h), var(--light-green-color-s), calc(var(--light-green-color-l) + 30%));
     --light-green-color-70: hsl(var(--light-green-color-h), var(--light-green-color-s), calc(var(--light-green-color-l) + 35%));
     --light-green-color-80: hsl(var(--light-green-color-h), var(--light-green-color-s), calc(var(--light-green-color-l) + 40%));

     --primary-color: var(--green-color-10);
     --primary-border-color: var(--green-color-10);
     --primary-hover-color: var(--green-color);
}